<div class="modal-header" [ngClass]="{'bg-success':dialogType==='success',
'bg-info': dialogType==='info' || 'processing','bg-danger': dialogType==='danger','bg-warning':dialogType==='warning'}">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel">
    {{dialogTitle}}
  </h4>
</div>
<div class="modal-body" [innerHTML]="dialogBody">
</div>
<div *ngIf="!(dialogType === 'processing')" class="modal-footer">
  <button  class="btn btn-default" data-dismiss="modal" (click)="close()">
    <span class="glyphicon glyphicon-ok"></span> 确定
  </button>
</div>
