<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">用户基本信息和权限</h4>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#user-basic-info" data-toggle="tab" (click)="createComponent('basic-info')">
          基本信息
        </a>
      </li>
      <li>
        <a href="#user-permission" data-toggle="tab" (click)="createComponent('access-authorities')">
          权限
        </a>
      </li>
    </ul>
    <div id="user-container" class="tab-content">
      <div class="clearfix" style="margin-bottom: 1em;"></div>
      <ng-template #userEditContainer></ng-template>
    </div>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-primary" (click)="addUserInfo()">
      <span class="glyphicon glyphicon-ok"></span> 添加用户
    </button>
  </div>
</div>
