<div class="modal-header bg-primary">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">
    &times;
  </button>
  <h4 class="modal-title" id="data-detail-title">
    数据详细
  </h4>
</div>
<div class="modal-body">
  <div class="data-detail-container">
    <form role="form" class="form-horizental">
      <div *ngFor="let field of DATA_DETAIL_FIELDS" class="col-md-6">
        <div class="form-group">
          <label class="control-label col-sm-6 my-control-label">{{field}}:</label>
          <p class="form-control-static col-sm-6">{{this.currentData[field]}}</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;关闭
    </button>
  </div>
