<div class="row" *ngIf="currentUserPermission">
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group input-daterange">
        <span class="input-group-addon" id="date">日期范围</span>
        <input type="text" class="form-control" aria-describedby="date" id="start-time">
        <div class="input-group-addon">到</div>
        <input type="text" class="form-control" id="end-time">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="product-code">商品编码</span>
        <input type="text" [(ngModel)]="currentUserPermission['商品编码']" name="product-code" class="form-control"
          placeholder="请输入商品编码" aria-describedby="product-code">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="expired-time-label">账号有效期</span>
        <input type="text" class="form-control" aria-describedby="expired-time" name="expired-time">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserPermission">
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['上传可否']">上传可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="data-limit-pages-label">看的页数</span>
        <input type="number" [(ngModel)]="currentUserPermission['看的页数']" name="data-limit-pages" class="form-control"
          placeholder="请输入看的页数" aria-describedby="data-limit-pages-label">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="data-limit-rows-label">看的条数</span>
        <input type="number" class="form-control" aria-describedby="data-limit-rows-label" name="data-limit-rows">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserPermission">
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['复制数据可否']">复制数据可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['导出数据可否']">导出数据可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['查看详细可否']">查看详细可否
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserPermission">
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="lookup-times-label">查看详细频度</span>
        <input type="number" [(ngModel)]="currentUserPermission['查看详细频度']" name="lookup-times" class="form-control"
          placeholder="请输入查看详细频度" aria-describedby="lookup-times-label">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['复制详细可否']">复制详细可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['下载详细可否']">下载详细可否
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserPermission">
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['查看透视图可否']">查看透视图可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['导出透视图可否']">导出透视图可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['查看数据图可否']">导出透视图可否
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserPermission">
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserPermission['导出数据图可否']">导出数据图可否
        </label>
      </div>
    </div>
  </div>
</div>
