<!--div class="jumbotron"-->
<div class="page-header">
  <div class="container">
    <ngb-alert type="success" [dismissible]="false">
      <h1>Excel File Manangement System</h1>
    </ngb-alert>
  </div>
</div>

<div class="container">
  <ngb-tabset>
    <ngb-tab title="Search">
        <ng-template ngbTabContent>
         <div class="container">
            <table id="table"></table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Upload">
        <ng-template ngbTabContent>
          <app-file-upload></app-file-upload>
        </ng-template>
      </ngb-tab>
  </ngb-tabset>
</div>
