<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">先进信息咨询网</a>
    </div>
  </div>
</nav>
<div class="content">
  <div class="container">
    <div class="login-client-page">
      <div class="login-wrap slides">
        <img class="adjust-image" src="../../assets/img/slide2.png" />
        <div class="title">先进信息咨询网</div>
        <div class="my-content">坚持做信息咨询的高效管理</div>
      </div>
      <div class="login-wrap">
        <form class="form-horizontal">
          <div id="bar-code">
          </div>
        </form>
        <div class="alert alert-danger login-error" *ngIf="isUserNotInDB">该用户尚未注册</div>
        <div class="alert alert-danger login-error" *ngIf="isExpired">该用户已过期</div>
        <div class="alert alert-danger login-error" *ngIf="isUserRefused">该用户拒绝登陆</div>
      </div>
    </div>
  </div>
  <div id="sub-foot">
    <p><a href="http://beian.miit.gov.cn/">工业和信息化部备案管理系统网站 粤B2-20090191-18</a></p>
  </div>
</div>
