body {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}



.form-horizontal {
  background: #fff;
  padding-bottom: 40px;
  border-radius: 15px;
  text-align: center;
}


.content {
  background-color: #f5f5f5;
  top: 50px;
}

.container {
  height: 90%;
}

.login-client-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* width: 72em; */
  /* height: 40em; */
  width: 80%;
  height: 90%;
  margin: 2% auto;
  border-radius: 4px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 8px 8px 0 rgba(51, 51, 51, 0.05), 0 0 8px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 8px 8px 0 rgba(51, 51, 51, 0.05), 0 0 8px 0 rgba(51, 51, 51, 0.15);
}

.login-client-page .login-wrap {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.adjust-image {
  width: 60%;
  height: auto;
  margin-top: 2em;
}

.slides {
  background: #f6f6f6;
}

.title {
  position: relative;
  top: 8%;
  font-size: 1.5em;
  line-height: 1em;
  color: #333;
}

.my-content {
  position: relative;
  top: 10%;
  font-size: 1em;
  line-height: 1em;
  color: #666;
}

.login-error {
  padding: 8px;
  text-align: center;
}

#bar-code {
  margin-top: 2em;
}
#sub-foot {
  color: #666;
  text-align: center;
  font-size: 0.9em;
}
