body {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.form-bg {
  background: #00b4ef;
}

.form-horizontal {
  background: #fff;
  padding-bottom: 40px;
  border-radius: 15px;
  text-align: center;
}

.form-horizontal .heading {
  display: block;
  font-size: 25px;
  font-weight: 700;
  padding: 35px 0;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
}

.form-horizontal .form-group {
  padding: 0 40px;
  margin: 0 0 25px 0;
  position: relative;
}

.form-horizontal .form-control {
  background: #f0f0f0;
  border: none;
  border-radius: 20px;
  box-shadow: none;
  padding: 0 20px 0 45px;
  height: 40px;
  transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
  background: #e0e0e0;
  box-shadow: none;
  outline: 0 none;
}

.form-horizontal .form-group i {
  position: absolute;
  top: 12px;
  left: 60px;
  font-size: 17px;
  color: #c8c8c8;
  transition: all 0.5s ease 0s;
}

.form-horizontal .form-control:focus+i {
  color: #00b4ef;
}

.form-horizontal .fa-question-circle {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 60px;
  font-size: 20px;
  color: #808080;
  transition: all 0.5s ease 0s;
}

.form-horizontal .fa-question-circle:hover {
  color: #000;
}

.form-horizontal .main-checkbox {
  float: left;
  width: 20px;
  height: 20px;
  background: #11a3fc;
  border-radius: 50%;
  position: relative;
  margin: 5px 0 0 5px;
  border: 1px solid #11a3fc;
}

.form-horizontal .main-checkbox label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.form-horizontal .main-checkbox label:after {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-horizontal .main-checkbox input[type=checkbox] {
  visibility: hidden;
}

.form-horizontal .main-checkbox input[type=checkbox]:checked+label:after {
  opacity: 1;
}

.form-horizontal .text {
  float: left;
  margin-left: 7px;
  line-height: 20px;
  padding-top: 5px;
  text-transform: capitalize;
}

.form-horizontal .btn {
  float: right;
  font-size: 14px;
  color: #fff;
  background: #00b4ef;
  border-radius: 30px;
  padding: 10px 25px;
  border: none;
  text-transform: capitalize;
  transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 479px) {
  .form-horizontal .form-group {
    padding: 0 25px;
  }

  .form-horizontal .form-group i {
    left: 45px;
  }

  .form-horizontal .btn {
    padding: 10px 20px;
  }
}

.content {
  background-color: #f5f5f5;
  top: 50px;
}

.container {
  height: 90%;
}

.login-client-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* width: 72em; */
  /* height: 40em; */
  width: 80%;
  height: 100%;
  margin: 2% auto;
  border-radius: 4px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 8px 8px 0 rgba(51, 51, 51, 0.05), 0 0 8px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 8px 8px 0 rgba(51, 51, 51, 0.05), 0 0 8px 0 rgba(51, 51, 51, 0.15);
}

.login-client-page .login-wrap {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.adjust-image {
  width: 60%;
  height: auto;
  margin-top: 2em;
}

.login-client-page .login-wrap h3 {
  padding-top: 50px;
  color: rgb(218, 113, 113);
  font-size: 28px;
  text-align: center;
}

.slides {
  background: #f6f6f6;
}

.viewport {
  width: 400%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.page-view {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
}

.view-container {
  position: absolute;
  width: 100%;
  height: 88%;
  text-align: center;
  top: 12%;
}

.view-container img {
  display: block;
  height: 50%;
  margin: 0 auto;
}

.title {
  position: relative;
  top: 8%;
  font-size: 1.5em;
  line-height: 1em;
  color: #333;
}

.my-content {
  position: relative;
  top: 10%;
  font-size: 1em;
  line-height: 1em;
  color: #666;
}

.login-error {
  padding: 8px;
  text-align: center;
}

#bar-code {
  margin-top: 2em;
}
