<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 各种xml -->
    <bean id="columnDefaultName" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/columnDefaultName.xml" />
    </bean>
    <bean id="basicInfoDefault" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/basicInfoDefault.xml" />
    </bean>
    <bean id="basicInfoAdmin" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/basicInfoAdmin.xml" />
    </bean>
    <bean id="queryConditionTypeName" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/queryConditionTypeName.xml" />
    </bean>
    <bean id="queryConditionTypeValue" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/queryConditionTypeValue.xml" />
    </bean>
    <bean id="queryConditionDisplayDefault" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/queryConditionDisplayDefault.xml" />
    </bean>
    <bean id="queryConditionDisplayAdmin" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/queryConditionDisplayAdmin.xml" />
    </bean>
    <bean id="headerDisplayDefault" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/headerDisplayDefault.xml" />
    </bean>
    <bean id="headerDisplayAdmin" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/headerDisplayAdmin.xml" />
    </bean>
    <bean id="accessAuthorityDefault" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/accessAuthorityDefault.xml" />
    </bean>
    <bean id="accessAuthorityAdmin" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/accessAuthorityAdmin.xml" />
    </bean>
    <bean id="userBasicInfo" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/userBasicInfo.xml" />
    </bean>
    <bean id="userAccessAuthority" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/userAccessAuthority.xml" />
    </bean>
    <bean id="userHeaderDisplay" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/userHeaderDisplay.xml" />
    </bean>
    <bean id="userHeaderWidth" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/userHeaderWidth.xml" />
    </bean>
    <bean id="userQueryConditionDisplay" class="com.example.eurasia.entity.Data.DataXMLReader"
          init-method="init">
        <property name="filePath" value="com/example/eurasia/config/userQueryConditionDisplay.xml" />
    </bean>
    <!--
    依赖注入
    即：一个类中的属性（其他对象）不再需要手动new或者通过工厂方法进行创建，而是Spring容器在属性被使用的时候给予注入。
    -->
    <!-- 构造注入：通过有参的构造函数注入。 -->
    <bean class="com.example.eurasia.entity.Data.Data1Impl" id="data1">
        <constructor-arg name="id" value="1"></constructor-arg>
        <constructor-arg name="keyValue">
            <map>
                <entry key="JinChuKou"                     value="进出口（出口）（进口）" />
                <entry key="HaiGuanBianMa"                 value="海关编码（商品编码）（HS编码）" />
                <entry key="ShangPinMingCheng"             value="商品名称（产品描述）" />
                <entry key="YueDu"                         value="月度（通关日期）（日期）（月份）" />
                <entry key="QiYeBianMa"                    value="企业编码" />
                <entry key="QiYeMingCheng"                 value="企业名称（进出口商）" />
                <entry key="ShouFaHuoDi"                   value="收发货地（原产地）" />
                <entry key="ShuLiang"                      value="数量" />
                <entry key="BiZhi"                         value="币制" />
                <entry key="ZongE"                         value="总额（金额（USD)）（金额）" />
                <entry key="DanJia"                        value="单价" />
                <entry key="ChanXiaoGuo"                   value="出口最终国或进口原产国（产销国）" />
                <entry key="BaoGuanKouAn"                  value="报关口岸（海关口岸）（出口关区）" />
                <entry key="MaoYiFangShi"                  value="贸易方式" />
                <entry key="YunShuFangShi"                 value="运输方式" />
                <entry key="ZhongZhuanGuo"                 value="中转国" />
                <entry key="ShuLiangDanWei"                value="数量单位（计量单位）(单位)" />
                <entry key="DianHua"                       value="电话" />
                <entry key="ChuanZhen"                     value="传真" />
                <entry key="YouBian"                       value="邮编" />
                <entry key="DianZiYouJian"                 value="电子邮件（email）（e-mail）" />
                <entry key="LianXiRen"                     value="联系人" />
                <entry key="QiYeXingZhi"                   value="企业性质" />
                <entry key="QiYeDiZhi"                     value="企业详细地址（地址）（企业地址）" />
                <entry key="ShengShi"                      value="省市" />
                <entry key="NianFen"                       value="年份" />
            </map>
        </constructor-arg>
    </bean>
    <!-- 属性注入：通过无参构造函数+setter方法注入。 -->
    <bean class="com.example.eurasia.entity.Data.Data2Impl" id="data2">
        <property name="id" value="2"></property>
        <property name="keyValue">
            <map>
                <entry key="ShenBaoRiQi" value="申报日期（日期）" />
                <entry key="JinChuKou" value="进口（出口）" />
                <entry key="ShenBaoGuanQu" value="申报关区" />
                <entry key="JinChuKouGuanQu" value="进口关区（出口关区）" />
                <entry key="ZhuGuanGuanQu" value="主管关区" />
                <entry key="ZhuangHuoGang" value="装货港（目的港）" />
                <entry key="ZhongZhuanGuo" value="中转国" />
                <entry key="YuanChanGuo" value="原产国（目的国）" />
                <entry key="ShangPinBianMa8" value="商品编码_8" />
                <entry key="ShangPinBianMa2" value="商品编码_2" />
                <entry key="ChanPinMingCheng" value="产品名称" />
                <entry key="GuiGeXingHao" value="规格型号" />
                <entry key="ChengJiaoFangShi" value="成交方式" />
                <entry key="ShenBaoDanJia" value="申报单价" />
                <entry key="ShenBaoZongJia" value="申报总价" />
                <entry key="ShenBaoBiZhi" value="申报币制" />
                <entry key="MeiYuanDanJia" value="美元单价" />
                <entry key="MeiYuanZongJia" value="美元总价" />
                <entry key="MeiYuanBiZhi" value="美元币制" />
                <entry key="ShenBaoShuLiang" value="申报数量" />
                <entry key="ShenBaoShuLiangDanWei" value="申报数量单位" />
                <entry key="FaDingShuLiang" value="法定数量" />
                <entry key="FanDingDanWei" value="法定单位" />
                <entry key="CIFMeiYuanZongJia" value="CIF美元总价（FOB美元总价）" />
                <entry key="CIFMeiYuanDanJia" value="CIF美元单价（FOB美元单价）" />
                <entry key="MaoZhong" value="毛重" />
                <entry key="JingZhong" value="净重" />
                <entry key="ZhiLiangDanWei" value="重量单位" />
                <entry key="MaoYiFangShi" value="贸易方式" />
                <entry key="YunShuFangShi" value="运输方式" />
                <entry key="MuDiDi" value="目的地（原产地）" />
                <entry key="BaoZhuangZhongLei" value="包装种类" />
                <entry key="ShenBaoDanWei" value="申报单位" />
                <entry key="HuoZhuDanWei" value="货主单位" />
                <entry key="JingYingDanWei" value="经营单位" />
                <entry key="QiYeDaiMa" value="企业代码" />
                <entry key="QiYeXingZhi" value="企业性质" />
                <entry key="QiYeDiZhi" value="地址（企业地址）" />
                <entry key="DianHua" value="电话" />
                <entry key="ChuanZhen" value="传真" />
                <entry key="YouBian" value="邮编" />
                <entry key="Email" value="Email" />
                <entry key="LianXiRen" value="联系人" />
            </map>
        </property>
    </bean>

    <!-- 配置数据源。跟context: 作用一样吗？
    <bean id="config" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean> -->

    <!-- 配置数据源的properties -->
    <context:property-placeholder location="classpath:application.properties"/>

    <!-- IOC和DI的注解扫描 -->
    <context:component-scan base-package="com.example.eurasia.dao" ></context:component-scan>

    <!-- 打开AOP的注解 -->
    <!-- 这里用的是中间的横线而不是下划线 -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!-- 配置DataSource数据源 -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
        destroy-method="close">
        <!-- 无需指定，除非系统无法自动识别 -->
        <property name="driverClassName" value="${spring.datasource.driver-class-name}" />
        <property name="jdbcUrl" value="${spring.datasource.url}" />
        <property name="username" value="${spring.datasource.username}" />
        <property name="password" value="${spring.datasource.password}" />
        <!-- 连接只读数据库时配置为true， 保证安全 -->
        <property name="readOnly" value="${spring.datasource.hikari.read-only}" />
        <!-- 等待连接池分配连接的最大时长（毫秒），超过这个时长还没可用的连接则发生SQLException， 缺省:30秒 -->
        <property name="connectionTimeout" value="${spring.datasource.hikari.connection-timeout}" />
        <!-- 一个连接idle状态的最大时长（毫秒），超时则被释放（retired），缺省:10分钟 -->
        <property name="idleTimeout" value="${spring.datasource.hikari.idle-timeout}" />
        <!-- 一个连接的生命时长（毫秒），超时而且没被使用则被释放（retired），缺省:30分钟， 建议设置比数据库超时时长少30秒 -->
        <property name="maxLifetime" value="${spring.datasource.hikari.max-lifetime}" />
        <!-- 连接池中允许的最大连接数。缺省值：10；推荐的公式：((core_count * 2) + effective_spindle_count) -->
        <property name="maximumPoolSize" value="${spring.datasource.hikari.maximum-pool-size}" />
        <property name="minimumIdle" value="${spring.datasource.hikari.minimum-idle}" />
    </bean>

    <!-- 配置jdbcTemplate数据源 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!-- 配置数据访问层Dao(持久层) -->
    <bean id="commonDao" class="com.example.eurasia.dao.CommonDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean id="dataDao" class="com.example.eurasia.dao.DataDao">
    </bean>
    <bean id="userDao" class="com.example.eurasia.dao.UserDao">
    </bean>

    <!-- 配置业务层Service -->
    <bean id="dataService" class="com.example.eurasia.service.Data.DataService">
        <property name="dataDao" ref="dataDao"></property><!-- 属性注入 -->
    </bean>
    <bean id="userService" class="com.example.eurasia.service.User.UserService">
        <property name="userDao" ref="userDao"></property><!-- 属性注入 -->
    </bean>

</beans>

<!--
其实在学Spring之后，感觉应该形成一种习惯，在new对象的时候我要想到IOC，在使用Set方法的时候，我要想到DI，再去要方便面（哦，不，是切面），我们应该想到用AOP的。这里可以在Spring中配置如下的引用链：

1. 我要有DataSource，DataSource的属性可以通过注入数据库的一些配置属性添加

2. 我要有JdbcTemplate，而Template依赖与DataSource，我要以ref的方式为我的JdbcTemplate注入引用

3. 有了JdbcTemplate之后，我要有Dao，此时我应该在Dao添加一个JdbcTemplate的成员，然后以ref的方式将JdbcTemplate引入到Dao中

4. 我在Action或者是Servlet中都会调用的是Serivce，所以，我在Serivce中要添加一个Dao作为成员，然后由ref在注入Dao到Service中

DataSource -> JdbcTemplate -> Dao -> Service -> Action/Servlet

    "->"表示将左边的对象注入到右边的对象当中
-->

<!--
application.properties和application.yml文件可以放在以下四个位置：

外置，在相对于应用程序运行目录的/congfig子目录里。
外置，在应用程序运行的目录里
内置，在config包内
内置，在Classpath根目录
同样，这个列表按照优先级排序，也就是说，src/main/resources/config下application.properties覆盖src/main/resources下application.properties中相同的属性
此外，如果你在相同优先级位置同时有application.properties和application.yml，那么application.yml里面的属性就会覆盖application.properties里的属性。
-->