<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        产品检索
      </h3>
    </div>
    <div class="panel-body">
      <form role="form" (ngSubmit)="onSearch()">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="hs-code">海关编码</span>
                <input type="text" [(ngModel)]="searchParam[0].value" name="hs_code" class="form-control" placeholder="请输入海关编码"
                  aria-describedby="hs-code">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group input-daterange">
                <span class="input-group-addon" id="date">日期</span>
                <input type="text" class="form-control" aria-describedby="date" id="start-time">
                <div class="input-group-addon">到</div>
                <input type="text" class="form-control" id="end-time">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="enterprise">商品名称</span>
                <input type="text" [(ngModel)]="searchParam[3].value" name="product-name" class="form-control"
                  placeholder="请输入商品名称" aria-describedby="enterprise">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control selectpicker" multiple title="请选择贸易方式" [(ngModel)]="searchParam[4].value"
                id="trade-mode" name="trade-mode">
                <option value='ab'>区内物流货物</option>
                <option value='bc'>一般贸易</option>
                <option value='cd'>其他贸易</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="description">企业名称</span>
                <input type="text" [(ngModel)]="searchParam[5].value" name="enterprise-name" class="form-control"
                  placeholder="请输入企业名称" aria-describedby="description">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="brand_client">收发货地</span>
                <input type="text" [(ngModel)]="searchParam[6].value" name="address" class="form-control" placeholder="请输入收发货地"
                  aria-describedby="brand_client">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">
              <span class="glyphicon glyphicon-search"></span> 检索
            </button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block">
              <span class="glyphicon glyphicon-export"></span> 导出
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="table" data-toggle="table" data-height="400" data-url="" data-id-field="id" data-pagination="true"
        data-side-pagination="client" data-page-list="[5, 10, 20, 50, 100, 200]">
      </table>
    </div>
  </div>
</div>
