<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">欧亚信息咨询网</a>
    </div>
  </div>
</nav>
<div class="content">
  <div class="container">
    <div class="login-client-page">
      <div class="slides" id="slides">
        <div class="viewport" id="viewport">
          <div class="page-view">
            <div class="view-container"><img src="../../assets/img/slide2.png">
              <div class="title">欧亚信息咨询网</div>
              <div class="content">坚持做信息咨询的高效管理</div>
            </div>
          </div>
        </div>
      </div>
      <div class="login-wrap">
        <form class="form-horizontal">
          <span class="heading">用户微信登录</span>
          <div class="form-group">
            <label class="col-md-3 control-label">用户名</label>
            <div class="col-md-9">
              <input class="form-control" id="focusedInput" type="text" placeholder="请输入用户名">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
