<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="this.errorExist" class="alert alert-danger">{{this.errorMsg}}</div>
      <div *ngIf="this.infoExist" class="alert alert-info">{{this.infoMsg}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-addon">{{this.SYNONYM_NAME}}</span>
        <input type="text" class="form-control" id="synonym" [(ngModel)]="this.synonym"
          (keyup)="onEnterSynonym($event)">
      </div>
    </div>
    <div class=" col-md-2">
      <div class="form-group">
        <select class="form-control selectpicker" title="{{COLUMN_NAME}}" id="column" [(ngModel)]="this.column"
          name="column">
          <option *ngFor="let column of this.columns" value="{{column}}">
            {{column}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" (click)="this.onSaveSynonyms()">
          <span class="glyphicon glyphicon-edit"></span> 保存
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 scrollable-container" id="synonym-container">
      <table *ngFor="let columnsDictionary of this.columnsDictionaries" data-toggle="table"
        id="{{columnsDictionary.getUUID()}}">
        <thead>
          <tr>
            <th data-field="synonym" data-formatter="this.operateFormatter" data-events="operateEvents">
              {{columnsDictionary.getColumnName()}}</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
