<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="active" [ngClass]="{active: (this.isSynonymEditActive === false)}"
      (click)="this.setSynonymEditActive(false)">
      <a href="#data-upload" data-toggle="tab">
        上传数据
      </a>
    </li>
    <li class="active" [ngClass]="{active: (this.isSynonymEditActive === true)}"
      (click)="this.setSynonymEditActive(true)">
      <a href="#edit-dictionary" data-toggle="tab">
        编辑同义词
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in" id="data-upload" [ngClass]="{active: (this.isSynonymEditActive === false)}">
      <div class=" clearfix" style="margin-bottom: 1em;"></div>
      <app-file-upload #dataUpload></app-file-upload>
    </div>
    <div class="tab-pane fade in" id="edit-dictionary" [ngClass]="{active: (this.isSynonymEditActive === true)}">
      <div class="clearfix" style="margin-bottom: 1em;"></div>
      <app-edit-dictionary #editDictionary></app-edit-dictionary>
    </div>
  </div>
</div>
