<div class="row" *ngIf="currentUserAccessAuthorities">
  <div class="col-md-12">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="product-time">商品有效期间</span>
        <input type="text" class="form-control datepicker" aria-describedby="product-time"
        name="product-start-time{{this.componentID}}" id="product-start-time{{this.componentID}}" autocomplete="off">
        <div class="input-group-addon">到</div>
        <input type="text" class="form-control datepicker" id="product-to-time{{this.componentID}}" autocomplete="off">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="user-time">用户有效期间</span>
        <input type="text" class="form-control datepicker" aria-describedby="user-time"
          name="user-start-time{{this.componentID}}" id="user-start-time{{this.componentID}}" autocomplete="off">
        <div class="input-group-addon">到</div>
        <input type="text" class="form-control datepicker" id="user-to-time{{this.componentID}}" autocomplete="off">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserAccessAuthorities">
  <div class="col-md-12">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="product-code{{this.componentID}}">商品编码</span>
        <input type="text" [(ngModel)]="productCodes" name="product-code{{this.componentID}}" class="form-control"
          placeholder="请输入商品编码" aria-describedby="product-code">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserAccessAuthorities">
  <div class="col-md-6">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="lookup-times-label{{this.componentID}}">查看详细频度(每分钟)</span>
        <input type="number" [(ngModel)]="currentUserAccessAuthorities['查看详细频度']" name="lookup-times{{this.componentID}}"
          class="form-control" aria-describedby="lookup-times-label">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="data-limit-rows-label{{this.componentID}}">看的条数</span>
        <input type="number" [(ngModel)]="currentUserAccessAuthorities['看的条数']" name="data-limit-rows{{this.componentID}}"
          class="form-control" aria-describedby="data-limit-rows-label">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserAccessAuthorities">
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserAccessAuthorities['复制数据可否']" name="data-copy">复制数据可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserAccessAuthorities['导出数据可否']" name="data-export">导出数据可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserAccessAuthorities['查看详细可否']">查看详细可否
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserAccessAuthorities">
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserAccessAuthorities['复制详细可否']">复制详细可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserAccessAuthorities['下载详细可否']">下载详细可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="currentUserAccessAuthorities['上传可否']">上传可否
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserAccessAuthorities">
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" disabled="disabled" [(ngModel)]="currentUserAccessAuthorities['查看透视图可否']">查看透视图可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" disabled="disabled" [(ngModel)]="currentUserAccessAuthorities['导出透视图可否']">导出透视图可否
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" disabled="disabled" [(ngModel)]="currentUserAccessAuthorities['查看数据图可否']">导出透视图可否
        </label>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="currentUserAccessAuthorities">
  <div class="col-md-4">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" disabled="disabled" [(ngModel)]="currentUserAccessAuthorities['导出数据图可否']">导出数据图可否
        </label>
      </div>
    </div>
  </div>
</div>
