<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#user-list" data-toggle="tab">
        用户编辑
      </a>
    </li>
    <li>
      <a href="#user-add" data-toggle="tab">
        添加用户
      </a>
    </li>
  </ul>
  <div id="user-container" class="tab-content">
    <div class="tab-pane fade in active" id="user-list">
      <div class="clearfix" style="margin-bottom: 1em;"></div>
      <app-user-list></app-user-list>
    </div>
    <div class="tab-pane fade in" id="user-add">
      <div class="clearfix" style="margin-bottom: 1em;"></div>
      <app-user-add></app-user-add>
    </div>
  </div>
</div>
