<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#user-list" data-toggle="tab">
        用户编辑
      </a>
    </li>
    <li>
      <a href="#user-add" data-toggle="tab">
        添加用户
      </a>
    </li>
  </ul>
  <div id="user-container" class="tab-content">
    <div class="tab-pane fade in active" id="user-list" [ngClass]="!isUserAddActive">
      <div class="clearfix" style="margin-bottom: 1em;"></div>
      <app-user-list #userList></app-user-list>
    </div>
    <div class="tab-pane fade in" id="user-add" [ngClass]="isUserAddActive">
      <div class="clearfix" style="margin-bottom: 1em;"></div>
      <app-user-add #userAdd></app-user-add>
    </div>
  </div>
</div>
