<div class="container">
  <div class="row">
    <div class="col-md-6" id="bar-code">
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <a class="btn btn-primary glyphicon glyphicon-leaf" (click)="dummyScanBarCode()" role="button">&nbsp;扫描微信</a>
    </div>
  </div> -->
  <div class="row" *ngIf="isUserExisted">
    <div class="col-md-4">
      <span class="alert alert-danger user-add-error">该用户已经注册过了</span>
    </div>
  </div>
  <div class="row" *ngIf="isUserRefused">
    <div class="col-md-4">
      <span class="alert alert-danger user-add-error">用户拒绝登陆</span>
    </div>
  </div>
</div>
