<div class="modal-header bg-primary">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">
    &times;
  </button>
  <h4 class="modal-title" id="data-detail-title">
    数据统计
  </h4>
</div>
<div class="modal-body">
  <form role="form">
    <!-- <commnent> first row start </commnent> -->
    <div class="row">
      <div class="col-md-2">
        <div class=" form-group">
          <select class="form-control selectpicker" title="统计图类型" id="statistics-type" [(ngModel)]="type"
            name="statistics-type">
            <option *ngFor="let type of this.getStatisticsTypes()" value="{{type}}">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class=" form-group">
          <select class="form-control selectpicker" title="统计列" id="group-fields" [(ngModel)]="selectedGroupByField"
            name="group-fields">
            <option *ngFor="let field of this.getGroupByFields()" value="{{field}}">{{field+"汇总列表"}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2" [hidden]="!this.isDateIsSelected()">
        <div class=" form-group">
          <select class="form-control selectpicker" title="详细日期列" id="detail-date-fields"
            [(ngModel)]="selectedDetailDateField" name="detail-date-field">
            <option *ngFor="let field of this.getSelectableDetailDateFields()" value="{{field}}">{{field}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class=" form-group">
          <select class="form-control selectpicker" multiple title="计算列" id="compute-fields"
            [(ngModel)]="selectedComputeFields" name="compute-fields" (change)="onChangeComputeFields()">
            <option *ngFor="let field of this.getComputeFields()" value="{{field}}">{{field}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class=" form-group">
          <select class="form-control selectpicker" title="统计图计算列" id="chart-compute-field"
            [(ngModel)]="selectedChartComputeField" name="chart-compute-fields">
            <option *ngFor="let field of (this.selectedComputeFields)" value="{{field}}">{{field}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" (click)="this.exportStatisticsReport()">
            <span class="glyphicon glyphicon-stats"></span> 生成报表
          </button>
        </div>
      </div>
    </div>
  </form>
  <div>
    <ul class="nav nav-tabs" *ngIf="this.isStatisticsDataOK">
      <li class="active">
        <a href="#graph" data-toggle="tab" (click)="createComponent('graph')">
          统计图
        </a>
      </li>
      <li>
        <a href="#original-data" data-toggle="tab" (click)="createComponent('original-data')">
          统计数据
        </a>
      </li>
    </ul>
    <div id="statistics-container" class="tab-content">
      <div class="clearfix" style="margin-bottom: 1em;"></div>
      <ng-template #statisticsContainer></ng-template>
    </div>
  </div>
  <div *ngIf="!this.isStatisticsDataOK">
    <div *ngIf="this.isWaitingStatisticsInput" class="panel-body">
      {{this.WAIT_STATISTICS_INPUT}}
    </div>
    <div *ngIf="this.isWaitingStatisticsReport" class="panel-body">
      {{this.WAIT_STATISTICS_REPORT}}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">
    <span class="glyphicon glyphicon-remove"></span>&nbsp;关闭
  </button>
</div>
