<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        产品检索
      </h3>
    </div>
    <div class="panel-body">
      <form role="form" (ngSubmit)="onSearch()">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control selectpicker" multiple title="请选择进口关区" id="import-custom" [(ngModel)]="importCustoms"
                name="import-custom">
                <option value='上海关区'>上海关区</option>
                <option value='天津关区'>天津关区</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group input-daterange">
                <span class="input-group-addon" id="date">日期</span>
                <input type="text" class="form-control" aria-describedby="date" id="start-time" style="color:gray">
                <div class="input-group-addon">到</div>
                <input type="text" class="form-control" id="end-time" style="color:gray">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="enterprise">产品名称</span>
                <input type="text" [(ngModel)]="searchParam[3].value" name="product-name" class="form-control"
                  placeholder="请输入商品名称" aria-describedby="enterprise">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="ship-port">装货港</span>
                <input type="text" [(ngModel)]="searchParam[4].value" name="hs_code" class="form-control" placeholder="请输入装货港"
                  aria-describedby="ship-port">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="product-code">商品编码</span>
                <input type="text" [(ngModel)]="searchParam[5].value" name="product-code" class="form-control"
                  placeholder="请输入商品编码" aria-describedby="product-code">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="brand_client">规格型号</span>
                <input type="text" [(ngModel)]="searchParam[6].value" name="specification" class="form-control"
                  placeholder="请输入规格型号" aria-describedby="specification">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-search"></span> 检索
              </button>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <button type="button" class="btn btn-default btn-block" (click)="onDownloadFile()">
                <span class="glyphicon glyphicon-export"></span> 导出
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="table" data-toggle="table" data-height="400" data-url="" data-id-field="id" data-pagination="true"
        data-striped="true" data-side-pagination="client" data-page-list="[5, 10, 20, 50, 100, 200]">
      </table>
    </div>
  </div>
</div>
